<!-- templates/footer.html -->
<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-4">
          <h5>Hakkımızda</h5>
          <p>hakkımızdad yazısı</p>
        </div>
        <div class="col-md-4">
          <h5>İletişim</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-geo-alt"></i> Örnek Mah. No:123, İstanbul</li>
            <li><i class="bi bi-phone"></i> +90 212 123 45 67</li>
            <li><i class="bi bi-envelope"></i> info@site.com</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Linkler</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Hakkımızda</a></li>
            <li><a href="#" class="text-white">Gizlilik Politikası</a></li>
            <li><a href="#" class="text-white">Kullanım Şartları</a></li>
            <li><a href="#" class="text-white">SSS</a></li>
          </ul>
        </div>
      </div>
      <hr class="bg-secondary">
      <div class="text-center">
        &copy; {{ now.year }} E-Ticaret Sitesi. Tüm hakları saklıdır.
      </div>
    </div>
  </footer>
  